*.tabbar {
    height: 100%;
    width: 100px;
    display: flexbox;
    justify-content: flex-start;
    align-content: center;
}

.meeting {
    width: 50%;
    border-left: 25%;
    align-content: center;
}